@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  touch-action: none;
  user-select: none;
  background-color: #1e3a8a;
  font-family: 'Titan One', cursive;
}
